In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
df = pd.read_csv("homeprices.csv")
df.head(5)

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [5]:
model = linear_model.LinearRegression()
model.fit(df[['area']],df['price'])

LinearRegression()

In [7]:
import pickle
with open('model_pickle','wb') as f:
    pickle.dump(model,f)

In [8]:
with open('model_pickle','rb') as f:
    model = pickle.load(f)
    
model.coef_

array([135.78767123])

In [9]:
model.intercept_

180616.43835616432